@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  color: #222222;
}

:root {
  --body-font: "Space Grotesk", sans-serif;

  --primary-900: #ffffff;
  --secondary-900: #222222;
  --secondary-700: #636363;
  --tertiary-900: #3232b9;
  --tertiary-700: #4b4bda;
  --tertiary-500: #c2c2fc;
}