@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e7e7e7;
  color: #000000;
}

:root {
  --body-font: "Space Grotesk", sans-serif;

  --primary-900: #ffffff;
  --primary-700: #e7e7e7;
  --secondary-900: #000000;
  --secondary-700: #636363;
  --tertiary-900: #1a0057;
  --tertiary-700: #2a2aa0;
  --tertiary-500: #6161d4;
  --tertiary-300: #a7a7f8;
}