.typography{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    &.block{
        display: block;
    }
    &.heading{
        font-size: clamp(2.5rem, 2.1667rem + 1.6667vw, 3.5rem);
        font-weight: 600;
    }
    &.subheading {
        font-size: 2.5rem;
        font-weight: 500;
    }
    &>.cardheading{
        font-size: 1.5rem;
        font-weight: 400;
    }
    &.body{
        font-size: 1rem;
        font-weight: 400;
    }
    &.subtext {
        font-size: 0.75rem;
        font-weight: 700;
    }
}