.hero-card{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    align-items: center;
    gap: 80px;
    @media screen and (width < 768px) {
        grid-template-columns: 100%;
    }
}